.container {
  flex: 2;
  margin-top: 60px;
  position: sticky;
  top: 120px;
  align-self: flex-start;
}

.subtitle {
  color: var(--softTextColor);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}